<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>

    <div>
        <p>access hello</p>
        <button id="btn-hello">access hello</button>
    </div>

    <div>
        <p>access login</p>
        <div>
            <label for="name">name:</label>
            <input type="text" id="name">
            <label for="password">password:</label>
            <input type="password" id="password">
            <button type="submit"id="login-btn">login</button>
        </div>
    </div>

    <div>
        <p>get users</p>
        <button id="btn-users">access users</button>
    </div>

</head>
<body>
    <h1>security sample</h1>

    <script src="/static/security.js"></script>
</body>
</html>